h1 {
	background-color: #ff69b4;
	color: #fff;
	text-align: center;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

#schedule-tabs {
	list-style: none;
	margin: 0;
	padding: 0;
}

#schedule-tabs > li {
	text-align: center;
	display: inline-block;
	padding: 10px 0;
	margin-top: 3px;
	color: #666;
}

#schedule-tabs > li.active-tab {
	background-color: #ff69b4;
	color: #fff;
}

#schedule-tabs.tabs-2 > li {
	width: 45%;
}

#schedule-tabs.tabs-3 > li {
	width: 30%;
}

#schedule-tabs.tabs-4 > li {
	width: 22.5%;
}

#schedule-tabs li.refresh-tab {
	background-color: #444;
	width: 10%;
	overflow: hidden;
}

.refresh-tab .refresh-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: transparent url(/images/refresh-white.png) center center no-repeat;
}

#schedule-tabs li.refresh-tab.refreshing .refresh-icon {
	-webkit-animation: rotate 1s linear 0s infinite normal;
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

h2 {
	margin: 0;
	background-color: #444;
	color: #fff;
	padding: 3px 10px;
	border-bottom: 4px solid #ff69b4;
}

h3 {
	margin: 0;
	color: #ff69b4;
}

.description {
	color: #444;
	margin-top: 5px;
}

.hidden {
	display: none;
}

div.talk {
	padding: 3px 10px;
}

div.talk:nth-child(even) {
	background-color: #eee;
}
