h1 {
	background-color: #ff69b4;
	color: #fff;
	text-align: center;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

#schedule-tabs {
	list-style: none;
	margin: 0;
	padding: 3px 0 0;
}

#schedule-tabs > li {
	text-align: center;
	display: inline-block;
	padding: 10px 0;
	color: #666;
}

#schedule-tabs > li.active-tab {
	background-color: #ff69b4;
	color: #fff;
}

#schedule-tabs.tabs-2 > li {
	width: 45%;
}

#schedule-tabs.tabs-3 > li {
	width: 30%;
}

#schedule-tabs.tabs-4 > li {
	width: 22.5%;
}

#schedule-tabs li.refresh-tab {
	background-color: #444;
	width: 10%;
	overflow: hidden;
	height: 20px;
}

.refresh-tab .refresh-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: transparent url(/images/refresh-white.png) center center no-repeat;
}

#schedule-tabs li.refresh-tab.refreshing .refresh-icon {
	-webkit-animation: rotate 1s linear 0s infinite normal;
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

h2 {
	margin: 0;
	background-color: #444;
	color: #fff;
	padding: 3px 10px;
	border-bottom: 4px solid #ff69b4;
}

h3 {
	margin: 0;
	color: #ff69b4;
}

.description {
	color: #444;
	margin-top: 5px;
}

.hidden {
	display: none;
}

.talk {
	padding: 3px 10px;
}

.talk:nth-child(even) {
	background-color: #eee;
}

.talk.starred h3::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ff69b4 url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><path fill='white' d='M10.000 14.000L15.290 17.281L13.804 11.236L18.560 7.219L12.351 6.764L10.000 1.000L7.649 6.764L1.440 7.219L6.196 11.236L4.710 17.281L10.000 14.000'/></svg>") center center no-repeat;
    border-radius: 10px;
    margin: 0 5px -3px 0;
}

.talk .star-button {
    display: inline-block;
    border-radius: 5px;
    padding: 1px 5px;
    color: #fff;
    background-color: #444;
    font-weight: bold;
}

.talk.starred .star-button {
    background-color: #ff69b4;
}

.change-notify {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.change-notify-entry {
    width: 100%;
    display: block;
    border: #000000 solid 1px;
    background-color: red;
    padding: 5px;
    font-size: 1.5em;
}

.change-notify-close {
    float: right;
    margin-right: 10px;
}
