h1 {
	background-color: #ff69b4;
	color: #fff;
	text-align: center;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

#schedule-tabs {
	list-style: none;
	margin: 0;
	padding: 0;
}

#schedule-tabs > li {
	text-align: center;
	display: inline-block;
	padding: 10px 0;
	margin-top: 3px;
	color: #666;
}

#schedule-tabs > li.active-tab {
	background-color: #ff69b4;
	color: #fff;
}

#schedule-tabs.tabs-2 > li {
	width: 50%;
}

#schedule-tabs.tabs-3 > li {
	width: 33%;
}

#schedule-tabs.tabs-4 > li {
	width: 25%;
}

h2 {
	margin: 0;
	background-color: #444;
	color: #fff;
	padding: 3px 10px;
	border-bottom: 4px solid #ff69b4;
}

h3 {
	margin: 0;
	color: #ff69b4;
}

.description {
	color: #444;
	margin-top: 5px;
}

.hidden {
	display: none;
}

div.talk {
	padding: 3px 10px;
}

div.talk:nth-child(even) {
	background-color: #eee;
}
