h1 {
	background-color: #0ac;
}

#schedule-tabs > li > a.active-tab {
	background-color: #0ac;
}

h2 {
	border-bottom: 4px solid #0ac;
}

h3 {
	color: #444;
}


.talk.starred h3::before {
    background-color: #0ac;
}

.talk.starred .star-button {
    background-color: #0ac;
}
