h1 {
	background-color: #080;
}

#schedule-tabs > li.active-tab {
	background-color: #080;
}

h2 {
	border-bottom: 4px solid #080;
}

h3 {
	color: #444;
}

.talk.starred h3::before {
    background-color: #080;
}

.talk.starred .star-button {
    background-color: #080;
}