h1 {
	background-color: #99c;
	color: #ffffff;
}

#schedule-tabs > li {
	color: #99c;
}

h2 {
	background-color: #808080;
	color: #ffffff;
	border-bottom-color: #669;
}

h3 {
	color: #669;
}

.description {
	margin-top: 5px;
	color: #000000;
}

#schedule-tabs > li.active-tab {
	background-color: #99c;
	color: #ffffff;
}

